.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 95vh;
}
.wrapper div{
    border: 1px solid black;
}
.dark{
    background-color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: lawngreen;
}
.blue{
    background-color: midnightblue;
}
.orange{
    background-color: orangered;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: rebeccapurple;
}